<div class="row">
    <div class="col-12">
        <div class="content-header">Conciliación</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="notaSalidaForm">
                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="codigoComercio" class="form-label">Codigo de Comercio</label>
                                    <input type="text" minlength="5" maxlength="50" formControlName="codigoComercio"
                                        class="form-control" id="codigoComercio" placeholder="Codigo de Comercio"
                                        [ngClass]="{ 'is-invalid': submitted && f.codigoComercio.invalid, 'is-valid': submitted &&  !f.codigoComercio.invalid }">
                                    <small class="form-text text-muted danger"
                                        *ngIf="f.codigoComercio.errors?.minlength">Ingrese 5 a 50 letras</small>
                                    <small class="form-text text-muted danger"
                                        *ngIf="f.codigoComercio.errors?.maxlength">Ingrese 5 a 50 letras</small>
                                    <small class="form-text text-muted danger"
                                        *ngIf="f.codigoComercio.errors?.pattern">Solo
                                        letras y números</small>
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="destinatario" class="form-label">Autorizacion</label>
                                    <input type="text" minlength="5" maxlength="50" formControlName="autorizacion"
                                        class="form-control" id="autorizacion" placeholder="Autorizacion"
                                        [ngClass]="{ 'is-invalid': submitted && f.autorizacion.invalid, 'is-valid': submitted &&  !f.autorizacion.invalid }">
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaInicio" class="form-label">Fecha Proceso</label>
                                    <input type="date" class="form-control" formControlName="fechaInicio"
                                        id="fechaInicio" name="fechaInicio" placeholder="date" date
                                        [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.invalid, 'is-valid': submitted && !f.fechaInicio.invalid }"
                                        (blur)="compareTwoDates()" />
                                    <small class="form-text text-muted danger"
                                        *ngIf="errorFecha.isError">{{errorFecha.errorMessage}}</small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                        
                                        <label for="estado" class="form-label">Estado</label>
                                        <select formControlName="estado" class="form-control">
                                          <option *ngFor="let estadoSelect of  estado" [value]="estadoSelect.id">
                                           {{ estadoSelect.name}}
                                          </option>
                                        </select>
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="estado" class="form-label">Estado</label>
                                        <ng-select formControlName="estado" class="form-control">
                                          <ng-option *ngFor="let estadoSelect of  estado" placeholder="Estado" [value]="estadoSelect.id">
                                           {{ estadoSelect.name}}
                                          </ng-option>
                                        </ng-select>
                                </div>
                                
                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="!notaSalidaForm.valid"
                                (click)="Buscar()">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Export()"
                                [disabled]="!rows.length">Exportar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">

                            <ngx-datatable-column name="Nota Salida" prop="Numero" width="40">

                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0" routerLink="/operaciones/notasalida-edit"
                                                [queryParams]="{ id: row.NotaSalidaAlmacenId}">{{ name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Autorizacion" prop="autorizacion" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="CodVisanet" prop="codvisanet" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Codigo Comercio" prop="codigocomercio" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Codigo Mon" prop="codigomon" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="comEmisor" prop="comemisor" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="comMerchant" prop="commerchant" width="150">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="comTotal" prop="comtotal" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="emisor" prop="emisor" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="fechaAbono" prop="fechaabono" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="fechaOperacion" prop="fechaoperacion" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="fechaProceso" prop="fechaproceso" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="horaOperacion" prop="horaoperacion" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="importeBruto" prop="importebruto" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="importeNeto" prop="importeneto" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="numeroReferencia" prop="numeroreferencia" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ruc" prop="ruc" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="tarjetaMask" prop="tarjetamask" width="100">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="tipoOperacion" prop="tipooperacion" width="100">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>